[
    {
        "labInfo": {
            "description": "service-mesh-lab-base",
            "version": "0.1",
            "author": "A. Kraus",
            "email": "akraus@student.agh.edu.pl",
            "web": "",
            "toggle": "enable"
        },
        "netkit": [
            {
                "name": "h1",
                "row": 1,
                "type": "other",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "192.168.1.11/24",
                            "$$hashKey": "object:19"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:22"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "service-mesh-h1",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 662390376180927,
                "$$hashKey": "object:25"
            },
            {
                "name": "h2",
                "row": 2,
                "type": "other",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "B"
                            },
                            "ip": "192.168.1.12/24",
                            "$$hashKey": "object:100"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:103"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "service-mesh-h2",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 176840751683953,
                "$$hashKey": "object:92"
            },
            {
                "name": "h3",
                "row": 3,
                "type": "other",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "C"
                            },
                            "ip": "192.168.1.13/24",
                            "$$hashKey": "object:163"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:166"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "service-mesh-h3",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 43846121327967,
                "$$hashKey": "object:154"
            },
            {
                "name": "db1",
                "row": 4,
                "type": "other",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "D"
                            },
                            "ip": "192.168.1.21/24",
                            "$$hashKey": "object:229"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:232"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "service-mesh-db1",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 120320662441978,
                "$$hashKey": "object:219"
            },
            {
                "name": "s1",
                "row": 5,
                "type": "other",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "",
                            "$$hashKey": "object:296"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "B"
                            },
                            "$$hashKey": "object:345"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "E"
                            },
                            "$$hashKey": "object:359"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:299"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "kathara/sdn",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 701343852327042,
                "$$hashKey": "object:285"
            },
            {
                "name": "s2",
                "row": 6,
                "type": "other",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "C"
                            },
                            "ip": "",
                            "$$hashKey": "object:396"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "D"
                            },
                            "$$hashKey": "object:445"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "F"
                            },
                            "$$hashKey": "object:459"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:399"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "kathara/sdn",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 810606172094062,
                "$$hashKey": "object:384"
            },
            {
                "name": "s3",
                "row": 7,
                "type": "other",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "E"
                            },
                            "ip": "",
                            "$$hashKey": "object:497"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "F"
                            },
                            "$$hashKey": "object:549"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "G"
                            },
                            "$$hashKey": "object:596"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:500"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "kathara/sdn",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 957590362591730,
                "$$hashKey": "object:484"
            },
            {
                "name": "consul",
                "row": 8,
                "type": "other",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "G"
                            },
                            "ip": "",
                            "$$hashKey": "object:544"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:547"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "consul",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 606467906594313,
                "$$hashKey": "object:530"
            }
        ]
    }
]