[
    {
        "labInfo": {
            "description": "",
            "version": "",
            "author": "",
            "email": "",
            "web": "",
            "toggle": "enable"
        },
        "netkit": [
            {
                "name": "h1",
                "row": 1,
                "type": "other",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "192.168.1.11/24",
                            "$$hashKey": "object:19"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:22"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "service-mesh-h1",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 813119742903121,
                "$$hashKey": "object:25"
            },
            {
                "name": "h2",
                "row": 2,
                "type": "other",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "B"
                            },
                            "ip": "192.168.1.12/24",
                            "$$hashKey": "object:82"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:85"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "service-mesh-h2",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 92021835992190,
                "$$hashKey": "object:74"
            },
            {
                "name": "s1",
                "row": 3,
                "type": "other",
                "interfaces": {
                    "counter": 2,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "",
                            "$$hashKey": "object:146"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "B"
                            },
                            "$$hashKey": "object:193"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:149"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "kathara/sdn",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 993473914426532,
                "$$hashKey": "object:137"
            }
        ]
    }
]