[
    {
        "labInfo": {
            "description": "Two host architecture to test service discovery",
            "version": "0.1",
            "author": "A. Kraus",
            "email": "akraus@student.agh.edu.pl",
            "web": "",
            "toggle": "enable"
        },
        "netkit": [
            {
                "name": "h1",
                "row": 1,
                "type": "other",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "192.168.1.11/24",
                            "$$hashKey": "object:19"
                        }
                    ],
                    "free": "ip link set eth0 address 00:00:00:00:00:01\narp -s 192.168.1.250 00:00:00:ff:ff:ff"
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "0.0.0.0/0",
                            "if": "0",
                            "$$hashKey": "object:22"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "service-mesh-h1",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 813119742903121,
                "$$hashKey": "object:25"
            },
            {
                "name": "h3",
                "row": 2,
                "type": "other",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "B"
                            },
                            "ip": "192.168.1.12/24",
                            "$$hashKey": "object:82"
                        }
                    ],
                    "free": "ip link set eth0 address 00:00:00:00:00:02\narp -s 192.168.1.250 00:00:00:ff:ff:ff"
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "0.0.0.0/0",
                            "if": "0",
                            "$$hashKey": "object:85"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "service-mesh-h3",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 92021835992190,
                "$$hashKey": "object:74"
            },
            {
                "name": "s1",
                "row": 3,
                "type": "other",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "",
                            "$$hashKey": "object:146"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "B"
                            },
                            "$$hashKey": "object:193",
                            "ip": ""
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "controller"
                            },
                            "$$hashKey": "object:198"
                        }
                    ],
                    "free": "ovsdb-server --detach --pidfile --log-file --remote=punix:/var/run/openvswitch/db.sock --remote=ptcp:6633\novs-vswitchd --detach --pidfile --log-file\n\novs-vsctl add-br s1\n\novs-vsctl add-port s1 eth0\novs-vsctl add-port s1 eth1\n\nchmod +x /etc/scripts/add_flows.sh\n/etc/scripts/add_flows.sh"
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:149"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "kathara/sdn",
                    "files": [
                        {
                            "name": "add_flows.sh",
                            "contents": "ovs-ofctl add-flow s1 \"priority=50,tcp,in_port=1,ip_dst=192.168.1.250,tp_dst=8080,action=ct(commit,zone=1,nat(dst=192.168.1.12:13427)),mod_dl_dst:00:00:00:00:00:02,output:2\"\novs-ofctl add-flow s1 \"priority=50,tcp,in_port=2,ct_state=-trk,action=ct(table=0,zone=1,nat)\"\novs-ofctl add-flow s1 \"priority=50,tcp,in_port=2,ip_dst=192.168.1.11,ct_state=+est,ct_zone=1,action=1\"",
                            "$$hashKey": "object:215"
                        }
                    ],
                    "fileCounter": 1
                },
                "ryu": {
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": ""
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 993473914426532,
                "$$hashKey": "object:137"
            }
        ]
    }
]